# Dependencies
node_modules/

# Build output
dist/
coverage/

# Vite / TS
*.tsbuildinfo

# Logs
npm-debug.log*
*.log

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Local env
.env
.env.local
.env.*.local
